.portfolio p {
  color: #434455;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.portfolio-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0 4px 2px 0 rgba(46, 47, 66, 0.08),
    0 2px 2px 0 rgba(46, 47, 66, 0.16),
    0 2px 12px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-img {
  display: block;
}

.portfolio-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
